.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
  align-items: center;
  border: 0.125rem solid #b0c4de;
  border-radius: 2rem;
  background-color: #eaf4fd;
  &--edit {
    width: calc(100% - 4.25rem);
  }
}

.text {
  width: fit-content;
  &__location {
    line-break: auto;
    height: 3.5rem;
    white-space: nowrap;
    width: calc(100vw - 20rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__temperature {
    line-break: auto;
    height: 2.5rem;
    white-space: nowrap;
    width: calc(100vw - 20rem);
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
  }
}

.weather-icon {
}
