.backdrop {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% auto;
  grid-template-columns: 100vw;
  grid-template-areas:
  "head"
  "main";
}

.header {
  grid-area: head;
  // overflow: hidden;
}

.main {
  grid-area: main;
  overflow-y: hidden;
  overflow-x: hidden;
}
